# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript build output
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Optional npm cache
.npm

# Logs
logs
*.log
pids
*.pid
*.seed
*.pid.lock

# IDE / Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj


# OS files
.DS_Store
Thumbs.db

# MongoDB local data folder (if any)
data/